[submodule "vendor/antigen"]
	path = vendor/antigen
	url = git@github.com:fernandoacorreia/antigen.git
[submodule "vendor/vim-plug"]
	path = vendor/vim-plug
	url = git@github.com:fernandoacorreia/vim-plug.git
[submodule "vendor/fzf"]
	path = vendor/fzf
	url = git@github.com:fernandoacorreia/fzf.git
[submodule "vendor/fzf.vim"]
	path = vendor/fzf.vim
	url = git@github.com:fernandoacorreia/fzf.vim.git
[submodule "vendor/jellybeans.vim"]
	path = vendor/jellybeans.vim
	url = git@github.com:fernandoacorreia/jellybeans.vim.git
[submodule "vendor/vim-numbertoggle"]
	path = vendor/vim-numbertoggle
	url = git@github.com:fernandoacorreia/vim-numbertoggle.git
[submodule "vendor/editorconfig-vim"]
	path = vendor/editorconfig-vim
	url = git@github.com:fernandoacorreia/editorconfig-vim.git
[submodule "vendor/vim-auto-save"]
	path = vendor/vim-auto-save
	url = git@github.com:fernandoacorreia/vim-auto-save.git
[submodule "vendor/wrk2"]
	path = vendor/wrk2
	url = git@github.com:fernandoacorreia/wrk2.git
